*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-text-light: rgba(18, 18, 18, 0.75);
  --color-text-dark: rgba(18, 18, 18, 1);
  --color-text-white: rgba(255, 255, 255, 1);
  --color-background-dark: rgba(0, 0, 0, 1);
  --color-background-white: rgba(255, 255, 255, 1);
  --color-border: rgba(0, 0, 0, 0.08);
  --color-border-dark: rgba(0, 0, 0, 0.75);
  --color-border-light: rgba(0, 0, 0, 0.5);
}

html,
body {
  margin: 0;
  border: 0;
}

body {
  font-family: Assistant, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-background-white);
  color: var(--color-text-light);
}
